.govt-cloud,
.retail-cloud{
    .why-choose-us{
        .ww-advantages-list{
                justify-content: center;
                &-item{
                   &:nth-child(3n+2){
                    margin-left: 50px;
                    margin-right: 50px;
                    @include breakpoint(desktop-max){
                        margin-left: 30px;
                        margin-right: 30px;
                    }
                    @include breakpoint(mobile-max){
                        margin-left: auto;
                        margin-right: auto;
                    }
                   }
                }
        }
    }
}
.retail-cloud{
    .why-choose-us {
        .ww-advantages-list {
            
            &-item {
                &:nth-child(5){
                    margin-right: 0;
                }
            }
        }
    }
}