.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.icon-bottom-arrow {
    &--right {
        display: inline-block;
        transform: rotate(270deg);
    }
}